<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.indeed.hazizz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">

        <!--
        <activity android:name=".Activities.MainActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        -->
        <!--
            <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DuplicateActivity"></activity>
        -->
        <activity
            android:name=".Activities.MainActivity"
            android:noHistory="false"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".Activities.AuthActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HazizzWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.FeedbackActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan" />



        <!--
               <receiver android:name=".HazizzWidget">
                <intent-filter>
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                    <action android:name="android.intent.action.SCREEN_ON"/>
                    <action android:name="android.intent.action.SCREEN_OFF"/>

                </intent-filter>

                <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/hazizz_widget_info" />
            </receiver>
            <service android:name=".WidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>

            <service android:name=".UpdateService" />
        -->

        <service
            android:name=".CollectionWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".CollectionWidgetProvider">
            <intent-filter>
                <action android:name="com.indeed.hazizz.WIDGET_OPENAPPBUTTON" />
                <action android:name="com.indeed.hazizz.WIDGET_REFRESHBUTTON" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/hazizz_widget_info" />
        </receiver>


    </application>

</manifest>